:root {
    --navbarbgcolor: #526D82;
    --textcolor: #DDE6ED;
    --pagebgcolor: #27374D;
    --bordercolor: #9DB2BF;
    --filterbgcolor: #455a6b;
}

* {
    font-family: "Monocraft", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--textcolor);
}

body {
   background-color: var(--pagebgcolor);
   font-size: 0.85vw;
}

.logo {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.bg-light {
    background-color: var(--navbarbgcolor) !important;
}

.row {
    background-color: var(--navbarbgcolor);
    border-radius: 20px;
    width: 80% !important;
    margin: 30px auto 0;
    border: 1px solid var(--bordercolor);
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--navbarbgcolor), var(--pagebgcolor));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--navbarbgcolor), var(--pagebgcolor)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
}

.col-lg-3, .col-12 {
    padding: 0;
}

.col-lg-3:not(:first-child) {
    padding: 0;
    border-left: 1px solid var(--bordercolor);
}

.row:last-child{
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    body {
      font-size: 12px;
    }

    .car-img{
        width: 100%;
        border-radius: 20px 20px 0 0;
        border-bottom: 1px solid var(--bordercolor);
    }

    .title{
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        padding: 20px 0;
        border-bottom: 1px solid var(--bordercolor);
        text-align: center;
    }
  }

.filterMenu {
    display: none;
    width: 100%;
    background-color: var(--filterbgcolor);
    border-top: 1px solid var(--bordercolor);
    border-bottom: 1px solid var(--bordercolor);
    padding: 15px;
}

option {
    color: black;
}

#filterButton {
    margin: 0 15px;
}

.mb-3 {
    max-width: 450px;
}
